{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="hero-unit text-center">
    <h3>{% trans "Password reset" %}</h3>

    {% if validlink %}
        <p>{% trans "You can now enter a new password" %}</p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div class="actions">
                <button type="submit" class="btn">{% trans "Change" %}</button>
            </div>
        </form>
    {% else %}
        <p>{% trans "The link to reset your password in invalid. Please request a" %}<a href="{% url 'password_reset' %}">{% trans "new one" %}</a>.</p>
    {% endif %}
    </div>
{% endblock %}
