{% extends 'base.html' %}
{% load i18n thumbnail %}

{% block content %}
    <div class="row">
        <div class="span8 offset2">
            <h2>{% trans "Frequently Asked Questions" %}</h2>

            <div class="well">
                <p class="question">{% trans "How do I change my account details?" %}</p>
                <p class="answer">{% trans "In the top right corner under 'Account' you can find 'Edit details'. Click this." %}</p>
            </div>

            <div class="well">
                <p class="question">{% trans "How do I report a bug?" %}</p>
                <p class="answer">{% trans "You can email an administrator by sending an email to: " %}<a href="mailto:lansuwouter@gmail.com">lansuwouter@gmail.com</a></p>
            </div>

        </div>
    </div>
{% endblock %}
