<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <title>{% trans 'Lansu Family' %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
    
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" media="screen" type="text/css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}compiled-css/site.css" media="screen" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>

    {% block extrahead %}{% endblock %}
</head>
<body>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Lansu</a>
        <ul class="nav">
            <li {% if '/faq' in request.path %}class="active"{% endif %}>
                <a href="{% url 'faq' %}">F.A.Q.</a>
            </li>
        </ul>
        <ul class="nav pull-right">
            <div class="btn-group pull-left account">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    {% trans 'Account' %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
                        <li><a href="{% url 'member' request.user.id %}">{% trans "Account details" %}</a></li>
                        <li><a href="{% url 'mail_members' %}">{% trans "Email all family members" %}</a></li>
                        <li><a href="{% url 'change' request.user.id %}">{% trans 'Edit details' %}</a></li>
                        <li><a href="{% url 'password_change' %}">{% trans 'Change password' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                        <li><a href="{% url 'register' %}">{% trans 'Register' %}</a></li>
                        <li><a href="{% url 'password_reset' %}">{% trans 'Forgot password?' %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <li class="language-form">
                <form id="language-form" class="form-inline" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input id="next_url" name="next" type="hidden" value="/" />
                    <select id="language-form-select" name="language">
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}">{{ language.name_local }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{% trans 'Translate' %}" />
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="container">
{% include 'messages.html' %}
{% block content %}{% endblock %}
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54306059-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
