@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\000031}}
.wrapper {
  width: 1200px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\000035}}
.navbar-fixed-top .brand {
  margin-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000311}}
.member .mail,
.member .phone,
.member .birthday,
.member h3 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000317}}
.member .empty {
  font-style: italic;
  color: #aaa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000321}}
.member h3, .member p {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000324}}
.member:hover, .member:focus {
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000326}}
  .member:hover h3, .member:focus h3 {
    color: #000;
    text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000333}}
span.member-actions .btn {
  margin-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000337}}
a.member-link {
  color: #777; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000341}}
li.language-form {
  margin-right: 2em;
  margin-top: 6px;
  margin-bottom: -10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000347}}
input.btn {
  margin-top: 0 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000351}}
.account {
  margin-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000355}}
.errorlist {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000359}}
.errorlist li {
  color: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000363}}
.background-grey {
  background-color: #f2f2f2;
  padding: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000368}}
.messages li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000372}}
.helptext {
  color: #777;
  font-size: smaller; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000377}}
.edit-link {
  font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\0000381}}
#id_text {
  width: 100%;
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid #cccccc;
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003100}}
.blog-header {
  margin-top: 10em;
  margin-bottom: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003105}}
.blog-post {
  min-height: 100px;
  margin-bottom: 3em;
  border-collapse: separate;
  border: 1px solid #cccccc;
  padding: 20px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003121}}
.nicEdit-selectTxt {
  line-height: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003125}}
.question {
  text-decoration: underline;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003130}}
.comment {
  padding-bottom: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003134}}
.form-footer {
  margin: 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003139}}
.member-card h3 {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003140}}
.member-card .thumbnails {
  margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jeroenhuls\/Python\/repositories\/django-family\/apps\/members\/static\/scss\/site\.scss}line{font-family:\00003142}}
  .member-card .thumbnails > li {
    margin: 0; }
