{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="span8 offset2">
        <h2>{% trans "Email all family members" %}</h2>
        <div class="hero-unit">
            
            <form id="mail-form" action="" method="post">{% csrf_token %}
                {{ form }}
                <div class="form-footer">
                    <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
